.Files{
  padding: 1.5rem;
}

.Files h2{
  margin: 0;
  padding-bottom: .5rem;
}

.File{
  margin-top: .2rem;
  background: #eee;
  padding: .5rem;
  border-bottom: .2rem solid #ddd;
}

.file-info-actions{
  display: flex;
  justify-content: space-between;
}