* {
  box-sizing: border-box;
}

.App header {
  width: 100%;
  background: blueviolet;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
}

.App nav {
  width: 100%;
  background: yellowgreen;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.temps{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.hot-end, .bed{
  background: goldenrod;
  padding: 1rem;
  color: white
}

.bed{
  background: brown;
}